<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: head">
</head>

<head th:replace="layouts :: header"></head> 


<body>

	<nav th:replace="layouts :: navbar"></nav>

	<div class="container">

		<h3>Create Project</h3>
		<hr>

		<form th:action="@{/projects/save}" th:object="${project}" method="POST">


			<div class="input-group mb-3">
				<span class="input-group-text">Project Name</span>
				<input type="text" aria-label="Project name" class="form-control" placeholder="Enter project name"
					th:field="${project.name}">
				<span style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="${project.name}">
				</span>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">Stages</span>
				<select class="form-select" th:field="${project.stage}">
				 
					<option th:value="NOTSTARTED">Not Started</option>
					<option th:value="INPROGRESS">In Progress</option>
					<option th:value="COMPLETED">Completed</option>
				</select>

				<span style="color:red" th:if="${#fields.hasErrors('stage')}" th:errors="${project.stage}">
				</span>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">Employee Name</span>

				<select th:field="*{employees}" multiple="multiple">
					<option th:each="employee : ${allEmployees}" th:value="${employee.employeeId}"
						th:text="${employee.firstName}">
						<span style="color:red" th:if="${#fields.hasErrors('employees')}" th:errors="${allEmployees}">
						</span>
					</option>

				</select>

			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">Project Description</span>
				<textarea type="text" placeholder="Enter Project Description"
					th:field="${project.description}"></textarea>
				<span style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="${project.description}">
				</span>
			</div>



			<div class="form-group mb-3">
				<button type="submit" class="btn btn-primary mb-2">Confirm Project</button>
			</div>


		</form>


	</div>

</body>

</html>